dist: focal
language: node_js
node_js:
  - v22.16.0
cache:
  directories:
    - node_modules
install:
  - npm install
services:
  - mysql
before_install:
  - cd service
  - npm i -g npm@10.5.0
script:
  - npm run test:ci:coverage
